#firstParagraph {
  background-color:  lightblue;
}
p:hover {
  font-weight: bold;
}
.box {
  width: 100px;
  height: 100px;
  display: inline-block;
}

#one {
  background-color: red;
}

#two {
  background-color: blue;
}

#three {
  background-color: green;
}
#firstParagraph:hover {
  color: red;
}
.box:hover {
  background-color: red;
}
img {
  display: block;
  margin: auto;
}